.options {
    padding: 0.5em;
    border-radius: 5px;
}

.options a {
    text-decoration: none;
    font-size: 16px;
}

.options:hover {
    background-color: #0a53be;
}

.options:hover a{
    color:white;
}

.boards {
    border-style: solid;
    border-radius: 5px;
    padding: 3em;
    border-width: 1px;
    margin-bottom: 1em;
    border-color: rgb(108 117 125);
}


.new-board {
    border-color: rgb(108 117 125);
}

.board_name {
    font-size: 17px;
    font-weight: bold;
}

.add-task button {
    color:gray;
    font-size: 15px;
}

.add-task:hover {
    background-color: dimgray;
}

.add-task:hover button {
    color:white;
}

/*.stage-placeholder {*/
/*    height: 100px;*/
/*    width: 100px;*/
/*    border-style: dashed;*/
/*}*/